{
  "trailingComma": "es5",
  "singleQuote": true,
  "printWidth": 120,
  "eslintIntegration": true,
  "bracketSpacing": true,
  "semi": false,
  "arrowParens": "avoid",
  "cssEnable": [
    "css",
    "less",
    "scss"
  ],
  "javascriptEnable": [
    "javascript",
    "javascriptreact"
  ],
  "jsonEnable": [
    "json"
  ]
}
